
 @font-face {
    font-family: 'assets/font/Roboto/Roboto-Regular.ttf';
    src: url('/assets/font/Roboto/Roboto-Regular.ttf') format('truetype'), Định dạng WOFF2
}
html, body {
    font-family: 'Lato-Regular' !important;
    font-size: 12px;
    margin: 0;
}
body{
    height: 100%;
    background-color: #C6E2FF;
    background-size: 100% auto;

}
.shop{
    width: 100vw;
    height: auto;
}

.menu{
    width: 100%;
    height: 100%;
}

.up{
    width: 80%;
    height: 70px;
    margin: 0 auto;
    
}
.up ul{
    list-style: none;
}
.up ul li{
    display: inline-table;
    margin-right: 70px;
}
.up ul li a{
    list-style: none;
    display: flex;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    color: black;
    padding: 10px;
    margin-left: 20px;
}
#carouselExample{
    margin-top: 50px;
}
.content{
    padding: 0;
    margin: 0;
    text-align: center;
    margin: 40px 0px;
}
#wrapper{
    max-width: 1900px;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    gap: 1.5rem;
    
}

h1{
    color: #111;
    padding: 10px 20px;
    text-transform:  uppercase;
    display: inline-block;
    color: #111;
    font-weight: bold;
}

.kekeke3{
    z-index: -1;
}

.list{
    list-style: none;
    display: flex;
    flex-direction: row;
    padding: 0px 15px 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.list .card{
    border: 1px solid #000000;
    padding: 10px;
    margin: 10px;

}


.footer{
    background: #fff;
    text-decoration: none;
    background-color: #bacfe4;
}
.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
    gap: 1.5rem;
    text-decoration: none;
}
.footer .box-container .box{

    color: var(--black);
    padding: 1rem 0;
    text-decoration: none;
}
.footer .box-container .box h3 i{
    color: var(--orange);
    text-decoration: none;
}
.footer .box-container .box .links{
    display: block;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
    text-decoration: none;
}

.footer .box-container .box .links i{
    color: var(--orange);
    padding-right: .5rem;
    text-decoration: none;
}
.footer .box-container .box h3 {
    color: var(--orange);
    text-decoration: none;
    font-weight: bold;
}
.footer .box-container .box p{
    line-height: 1.8;
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
    text-decoration: none;
}
.footer .box-container .box .share a{
    height: 4rem;
    width: 4rem;
    line-height: 4rem;
    border-radius: .5rem;
    font-size: 2rem;
    color: var(--black);
    margin-left: .2rem;
    background: #eee;
    text-align: center;
    text-decoration: none;
}

.footer .box-container .box .email{
    width: 100%;
    margin: .7rem 0;
    padding: 1rem;
    border-radius: .5rem;
    background: #eee;
    font-size: 1.6rem;
    color: var(--black);
    text-transform: none;
    text-decoration: none;
}
.footer .box-container .box .payment-img{
    margin-top: 2rem;
    height: 3rem;
    text-decoration: none;
}
.footer .credit{
    text-align: center;
    margin-top: 2rem;
    padding: 1rem;
    padding-top: 2.5rem;
    font-size: 2rem;
    color: var(--black);
    border-top: 2px solid black;
    text-decoration: none;  
}
.footer .credit span{
    color: var(--orange);
}

.dangkyne{
    font-size: 15px;
}
.btn .btn-primary{
    display: flex;
}
p {
    display: flex;
}
.kekeke p {
    padding: 0;
    margin: 0;
    display: flex;
}

form p {
    margin-bottom: 0.5em;
    display: flex;
}
p {
    margin-top: 0;
    display: flex;
}
pre, blockquote, form, figure, p, dl, ul, ol {
    margin-bottom: 1.3em;
    display: flex;
}
*, *:before, *:after {
    box-sizing: border-box;
}
p {
    display: flex;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.dangkyne #btn-gui {
    border-top: -1px;
    padding-top: 0px;
    padding-bottom: 0px;
 }
 .flex-box{
    text-decoration: none;
    padding-top: 35px ;
    display: flex;
    width: 1535px;
    margin:20px auto;
}
.left{
    width: 50%;
    
}
.big-img{
    width: 250px;
}
.big-img img{
    width: inherit;
    margin-left: 50px;
}
.image{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    width: 110px;
    height: 110px ;
    padding-left: 35%;
    border: 1,5px solid black ;
    transition: all 0.5s ease-in-out;

}
.image:hover{
    transform: scale(1.3);
    border: 1,5px solid black ;
}

.name{
    font-size: 32px;
    font-family: inherit;
    color: rgb(0, 0, 0);
    text-align: center;
}
.price{
    font-size: 28px;
    font-family: inherit;
    color: rgb(0, 0, 0);
    text-align: center;
}
.quantity{
    text-align: center;
}
.quantity p{
    font-size: 20px;
    font-weight: 600px;
    margin-left: 45px;
    margin-top: 5px;
}
.so{
    width: 50px;
    height: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 5px;
    font-size: 20px;
    margin-left: 52px;
}
.cart-btn{
    width: 250px;
    height: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 10px 7px;
    font-size: 18px;
}
button.buy-btn{
    width: 98px;
    height: 50px;
    color: rgb(0, 0, 0);
    text-align: center;
    font-size: 18px;

}
.under{
    margin-left: 40px;
    border-top: 2px solid rgb(0, 195, 255);
   margin-top: 45px;
   padding-top: 20px;
}
#gh{
    line-height: 1.7em;
    margin-bottom: 0;
    font-size: 14px;
    letter-spacing: .4px;
    text-decoration: none;
    display: block;
}
#ig{
    border: 3.9px solid rgb(0, 195, 255);
}